*{
    margin:0;
    padding:0;
}
body{
    margin: 2em;
    padding: 10px;
    background-color:black;
    color :white;

}
.titulo{
    background-color: antiquewhite;
    font-size: 12pt;

}